.footer {
    margin-top: 20px;
    background: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 20px;
    padding: 20px;
}

.right{
    flex-grow: 1;
    font-size: 12px;
    color: #878787;
}